#footer {
  background-color: #00255e;
  color: white;
  padding: 20px 30px;
}

#footer .footer-col:first-child .sitemap-heading {
  border-top: none;
}

@media(min-width:768px) {
  #footer .sitemap-heading {
      border-top: none;
      border-bottom: 1px solid #FA3800;
  }
}