#content-column {
  color: #00255e;
}

#news-carousel {
  background-color: gray;
  height: 378px;
}

#news-carousel .carousel-inner, #news-carousel .item {
  height: 100%;
}

#news-carousel .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.carousel-caption {
  text-shadow: 0px 0px 10px black;
}

.section {
  padding: 20px 30px;
}

.section-heading {
  border-bottom: 1px solid #FA3800;
  font-size: 2em;
  margin-top: 0px;
  position: relative;
}

.section-bubbles {
  position: absolute;
  top: 0;
  left: -40px;
  height: 30px;
}

#qotd-heading-date {
  display: none;
}

@media(min-width:768px) {
  #qotd-heading-date {
    display: inline-block;
  }
}

.resource-link {
  color: white;
  font-style: italic;
  font-size: 1.1em;
  width: 100%;
}

.resource-link:hover {
  text-decoration: none;
  color: white;
}

.resource-link > div {
  background-color: #8ABFDD;
  margin: 2px 0;
  padding: 3px;
  padding-right: 63px;
  height: 66px;
  text-align: center;
}

.resource-link > div:hover {
  border: 1px solid #FA3800;
}

.resource-link img {
  float: left;
}

.resource-link p {
  margin-top: 22.5px;
}