.card {
  margin: 1em 1em;
  border: 2px solid #002a5c;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #d2a974;
  display: flex;
  flex-flow: column nowrap;
  color: darkslategray;
  padding: 0 !important;
}

.card .heading {
  background-color: #002a5c;
  color: white !important;
  font-size: 1.5em;
  padding: 5px;
}

.card .card-body {
  padding: 5px;
}

#news {
  height: 350px;
}

#news .card-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

#resources .heading a {
  color: inherit;
}

#resources .resource-link {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #8ABFDD;
  margin: 2px 0;
  padding: 3px;
  align-self: center;
}

#resources .resource-link > div {
  flex: 1;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 1.1em;
}

#resources a {
  width: 100%;
}

#resources img {
  height: 60px;
}