body {
  padding-top: 60px;
  background: #b8d8ff !important;
}

#brand-container {
  height: 100%;
  display: flex;
}

#search-container {
  display: flex;
}

#footer {
  background: #002a5c;
  text-align: center;
  border-top: 1px solid #27568e;
}

#footer a {
  color: #d2a974;
}
