html, body {
  height: 100%;
  font-family: Helvetica;
  overflow-x: hidden;
}

#login-modal {
  font-size: 1.1em;
}

#login-modal a {
  font-size: 0.9em;
  float: right;
  margin-bottom: 1em;
}

#submit-login-btn {
  margin-top: 2em;
}

#page-content {
  padding-top: 46px;
  min-height: 100%;
}

#content-column {
  margin: 0 auto;
  max-width: 1000px;
  color: #00255e;
}

/* SiteMap Styles (sidebar & footer) */
.sitemap-list {
  list-style: none;
  width: 250px;
}

.sitemap-list li {
    text-indent: 20px;
    line-height: 40px;
}

.sitemap-list li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sitemap-list li a:hover {
  color: white;
  background: rgba(255,255,255,0.2);
}

.sitemap-list li.sitemap-heading {
    color: white;
    font-size: 1.1em;
    border-top: 1px solid orange;
}

.sitemap-list li a.sitemap-sublink {
    padding-left: 20px;
}

.sitemap-list li a:active,
.sitemap-list li a:focus {
    text-decoration: none;
}

/* /SiteMap Styles */

