{% extends "layout.html" %}
{% block page_content %}
{% from "layout.html" import render_field %}
<div class="container-fluid">
  <h1>Create a Question</h1>
  <form method=post>
    <div>
      <label for="question">Question</label>
      <div>
        <input id="question" class="form-control" name="question" type="text" value="">
      </div>
    </div>
    <div>
      <label for="answers">Answers</label>
     <button class="btn" type="button" onclick="newAnswer()">Add Option</button>
      <div id="answers">
          <div><input id="answers-0" class="form-control" name="answers-0"></div>
      </div>
    </div>
    <div>
      <input type="submit" class="btn btn-primary" value="Create Question!">
    </div>
  </form>
</div>
<div>

</div>
{% block scripts %}
{{super()}}
<script>
  function newAnswer() {
    var entryId = $("#answers").children().length;

    var name = "'answers-" + entryId + "'"

    var newTag = "<div><input id=" + name + "class='form-control'" + "' name=" + name + "'></div>";
    $(newTag).appendTo("#answers");
  }
</script>
{% endblock %}
{% endblock %}
