{% extends "layout.html" %}
{% block page_content %}
{% from "layout.html" import render_field %}
<div class="container-fluid">
  <h1>Create a Survey</h1>
  <div class="form-group">
    <form method=post>
      <div>
        <label for="survey_name">Name</label>
        <div>
          <input id="survey_name" class="form-control" name="name" type="text" value="">
        </div>
      </div>
      <div>
        <label for="answers">Questions</label>
       <button class="btn" type="button" onclick="newQuestion()">Add Question</button>
        <div id="s_questions">

        </div>
      </div>
      <div>
        <input type="submit" class="btn btn-primary" value="Create Survey!">
      </div>
    </form>
  </div>
</div>
<div>

</div>
{% block scripts %}
{{super()}}
<script>
  function buildDiv(insideDiv) {
    return "<div>" + insideDiv + "</div>";
  }

  function buildSelect(name, optionsStr) {
    var openSelect =  "<select class='form-control' " + "name=" + name + ">",
        closeSelect = "</select>";

    return openSelect + optionsStr + closeSelect;
  }

  function buildOption(val, label) {
    var openOpt  = "<option " + "value=" + val + ">",
        closeOpt = "</option>";

    return openOpt + label + closeOpt;
  }

  function buildOptList(q_arr) {
    optStr = ""

    for(var i = 0; i < q_arr.length; i++) {
      optStr += buildOption(q_arr[i][0], q_arr[i][1]);
    }

    return optStr
  }


  function newQuestion() {

    var newId = $("#s_questions").children().length;

    $.ajax({url: "/surveys/questions"}).done(function(response){
        var div = buildDiv(buildSelect("question-" + newId, 
                                          buildOptList(JSON.parse(response))));
        $(div).appendTo("#s_questions");
    });

  }
</script>
{% endblock %}
{% endblock %}
