{% extends "layout.html" %}
{% block page_content %}
{% from "layout.html" import render_field %}
<div class="container-fluid">
  <h1>Complete Survey</h1>
  {% if has_editor() %}
    <button id="delete_survey" class="btn btn-danger delete_btn" onclick="deleteSurvey()">
      Delete this Survey
    </button>
  {% endif %}
  <h2>{{survey["name"]}}</h2>
  {% if has_editor() %}
    <a href={{"{sid}/responses".format(sid=survey["_id"])}}>See responses to this survey</a>
  {% endif %}
  <form id="questions-container" method=post>
    {% for q in survey["questions"] %}
      <strong>{{q["question"]}}</strong>
      <div id={{q["_id"]}}>
        {% set outer_loop = loop %}
        {% for ans in q["answers"] %}
          <div class="radio">
            <label for={{"question_{count}-ans{ans_id}".format(count=outer_loop.index,ans_id=ans["ans_id"])}}>
              <input type="radio" id={{"question_{count}-ans{ans_id}".format(count=outer_loop.index,ans_id=ans["ans_id"])}}
                name={{"question_{count}".format(count=outer_loop.index)}} value={{ans["ans_id"]}}>
              {{ans["answer"]}}
            </label>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <input id="submit_survey"type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  function deleteSurvey() {
    if (confirm("This action is permanent. Clicking \"OK\" will delete this survey and all " +
                "associated responses. Are you sure you want to delete this survey?"))
    {
      $.ajax({url: window.location.href, method: "DELETE"}).done(function(response){
          window.location.reload();
      }).fail(function(response) {
        console.error(response.responseText);
        alert(response.responseText);
      });
    }
  }
</script>
{% endblock %}
