{% extends "layout.html" %}
{% block page_content %}
{% from "layout.html" import render_field %}
<div class="container-fluid">
  <h1>Complete Survey</h1>
  <h2>{{survey["name"]}}</h2>
  <form id="questions-container" method=post>
    {% for q in survey["questions"] %}
      {{q["question"]}}
      <ul id={{q["_id"]}}>
        {% set outer_loop = loop %}
        {% for ans in q["answers"] %}
          <li>
            <input type="radio" id={{"question_{count}-ans{ans_id}".format(count=outer_loop.index,ans_id=ans["ans_id"])}}
              name={{"question_{count}".format(count=outer_loop.index)}} value={{ans["ans_id"]}}>
            <label for={{"question_{count}-ans{ans_id}".format(count=outer_loop.index,ans_id=ans["ans_id"])}}>
              {{ans["answer"]}}
            </label>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
