{% extends "layout.html" %}
{% block styles %}
{{super()}}
<style type="text/css">
  .center-container {
    margin: 0 auto;
    max-width: 600px;
  }

  .heading {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  hr {
    border-color: black;
  }

  .key {
    color: #0070C0;
  }

  p {
    margin: 0 5px;
  }

  .brochure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 0 5px;
  }
</style>
{% endblock %}

{% block page_content %}
  <div class="container-fluid">
    <div class="center-container">
      <div class="row">
        <div class="row heading">
          <h1>What We Do</h1>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-xs-12">
              <p>The Peer Leadership Institute is a youth leadership institute that promotes healthy lifestyles for Boston’s inner-city youth. PLI is a peer to peer experience that focuses on health education and empowers youth to take ownership of their personal health and engage in their communities.</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-5 col-xs-12">
              <img id='about-img' src="{{url_for('static', filename='images/about.png')}}">
            </div>
            <div class="col-sm-7">
              <p><i><b class="key">Our Mission</b></i> is to inspire youth to realize they can make a difference and become professional change makers in their own lives and communities, through civic engagement, social justice, health education, and parent engagement.</p>
              <p><i><b class="key">Our Vision</b></i> is to create a city where STI rates are lowered by providing a program model and curricula that equips youth with the resources and tools to live healthy lifestyles.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <p><b class="key">The Peer Leadership Institute consists of the following components:</b></p>
              <p><b>Foundations</b> - A wellness program focused on socio-emotional well being, conflict resolutions and team building skills. This program is geared toward 8th and 9th graders.</p>
              <p><b>Peer Educators Program</b> - A peer to peer leadership program. Peer leaders who have completed our Summer Enrichment Program deliver workshops to their peers in their communities that focus on sexual health, substance use, and living healthy lifestyles.</p>
              <p><b>Ambassadors Program</b> - Selected Peer leaders that have completed the Summer Enrichment Program work alongside college students to engage and educate their school community on an identified health issue facing teens. Ambassadors co-teach with the college mentor and health educator a selected health class during the school day. </p>
              <p><b>Parents who Connect</b> - PCP is a program designed for parents by parents. The community is open to all parents in the city of Boston.  PCP helps parents build connections with other parents and BPS schools. The community is an opportunity for parents to connect to resources, engage in the community, share ideas and voice around opportunities for students.</p>
              <p><b>College and Career Readiness Program</b> - CCR is a program that is focused on building necessary skills to be successful post secondary school.  Students are offered resources such as SAT prep, college application assistance, college tours, resume building, job searching skills, as well as exposure to potential careers and professional that can support their goals.</p>
              <br>
              <p>For more information on our programs, please <a href="{{file_url_for('contact.html')}}">Contact Us</a>.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <div class="brochure">
                <b class="key">Summer Enrichment Program</b>
                <a href="{{url_for('static', filename='images/summer_enrichment_brochure.jpg')}}" target="_blank">
                  <img src="{{url_for('static', filename='images/summer_enrichment_brochure.jpg')}}">
                </a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="brochure">
                <b class="key">Academic Year Program</b>
                <a href="{{url_for('static', filename='images/academic_year_brochure.jpg')}}" target="_blank">
                  <img src="{{url_for('static', filename='images/academic_year_brochure.jpg')}}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}