{% extends "layout.html" %}
{% block styles %}
{{ super() }}
<style>
  .form-field {
    padding: 10px;
  }
</style>
{% endblock %}
{% block page_content %}
{% from "layout.html" import render_field %}
<div class="container-fluid">
  <h1>Add staff entry</h1>
  <form method=post enctype="multipart/form-data">
    <dl>
      {{ render_field(form.name) }}
      {{ render_field(form.title) }}
      {{ render_field(form.bio) }}
      {{ render_field(form.email, type="email") }}
      {{ render_field(form.phone, type="tel") }}
      <input type="checkbox" name="active">Are they active?</input>
    </dl>
    <input type="file" name="picture" accept="image/*"></input>
    <p><input type="submit" value="Login">
  </form>
</div>
{% endblock %}
