{% extends "layout.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block page_content %}
  <div class="container-fluid" id="cards-container">
    <div class="card" id="qotd">
      <div class="heading">Question of the Day</div>
      <div class="card-body">
        <h4>How great is this new site?</h4>
        <ol id="qotd-options">
          <li>Pretty great</li>
          <li>Really great</li>
          <li>The greatest</li>
        </ol>     
      </div>
    </div>
    <div class="card" id="resources">
      <div class="heading">Learn Something New</div>
      <div class="card-body">
        <h4>PLI has answers to all your health-related questions. Choose a category or search below.</h4>
        <a class="resource-link" href="/resources.html">
          <div>Substance Abuse</div>
          <img src="{{url_for('static', filename='images/subst_abuse.png')}}" alt="Substance Abuse">
        </a>
        <a class="resource-link" href="/resources.html">
          <img src="{{url_for('static', filename='images/sexual_health.png')}}" alt="Sexual Health">
          <div>Sexual Health</div>
        </a>
        <a class="resource-link" href="/resources.html">
          <div>Wellness</div>
          <img src="{{url_for('static', filename='images/wellness.png')}}" alt="Wellness">
        </a>
        <form>
          <div id="search-container">
            <input type="text" class="form-control" placeholder="Search">
            &nbsp;
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </form>
      </div>
    </div>
    <a class="card" href="/surveys.html">
      <div class="heading">Surveys</div>
      <div class="card-body">
        <h4>Answer questions and earn points! Get started here.</h4>
        <h6>There are currently 3 active surveys.<h6>
      </div>
    </a>
  </div>
{% endblock %}