<!-- Macros -->
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro sitemap_heading(text) -%}
  <li class="sitemap-heading"><span>{{text}}</span></li>
{%- endmacro %}

{% macro sitemap_link(text, pageName, cssclass="", fullPath="") -%}
  {% set url = "#" if (pageName == '#' or not pageName) else file_url_for(pageName + '.html') %}
  {% set url = fullPath if fullPath else url %}
  <li><a class="sitemap-sublink {{cssclass}}" href="{{url}}">{{text}}</a></li>
{%- endmacro %}
<!-- /Macros -->

<!-- Bootstrap -->
{% extends "bootstrap/base.html" %}

<!-- Title -->
{% block title %}BPHC Peer Leadership Institute{% endblock %}

<!-- Styles -->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">
{% endblock %}
<!-- /Styles -->

<!-- Content -->
{% block content %}
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav sitemap-list">
      <li class="sidebar-brand">
        <a href="/">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="BPHC">
          <br>
          Peer Leadership Institute
        </a>
      </li>

      {{ sitemap_heading("Resources") }}
      {{ sitemap_link("What's New", "", "coming-soon") }}
      {{ sitemap_link("Student Resources", "resources") }}
      {% if current_user.is_authenticated and "peer_leader" in current_user.get_roles() %}
        {{ sitemap_link("Peer Leader Resources", "peer_leader_resources") }}
      {% endif %}

      {{ sitemap_heading("Workshops") }}
      {{ sitemap_link("How It Works", "", "coming-soon") }}
      {{ sitemap_link("Testimonials", "", "coming-soon") }}
      {{ sitemap_link("Request a Workshop", "", "", url_for('static', filename='docs/workshop_signup.pdf')) }}

      {{ sitemap_heading("About") }}
      {{ sitemap_link("What We Do", "about") }}
      {{ sitemap_link("Our Staff", "", "coming-soon") }}
      {{ sitemap_link("Contact Us", "contact") }}
      {{ sitemap_link("BPHC", "", "", "http://bphc.org") }}
    </ul>
  </div>
  <!-- /Sidebar -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div id="page-content-mask"></div>
    <!-- Navbar -->
    <nav id="nav">
      <div class="hamburger" id="menu-toggle">
        <span class="sr-only">Toggle navigation</span>
        <hr class='hamburger-layer'>
        <hr class='hamburger-layer'>
        <hr class='hamburger-layer'>
      </div>
      <div class='brand'><a href="/">Peer Leadership Institute</a></div>
      {% if current_user.is_authenticated %}
        <a class="navbar-action" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a class="navbar-action" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
    <!-- /Navbar -->

    <!-- Page Content -->
    <div id='page-content'>
      {% block page_content %}
        <h1>Something went wrong, <a href="/">click here</a> to return to the site.</h1>
      {% endblock %}
    </div>
    <!-- /Page Content -->

    <!-- Footer -->
    <div id="footer" class='container-fluid'>
      <div class='row'>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
              {{ sitemap_heading("Resources") }}
              {{ sitemap_link("What's New", "", "coming-soon") }}
              {{ sitemap_link("Student Resources", "resources") }}
          </ul>
        </div>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
            {{ sitemap_heading("Workshops") }}
            {{ sitemap_link("How It Works", "", "coming-soon") }}
            {{ sitemap_link("Testimonials", "", "coming-soon") }}
            {{ sitemap_link("Request a Workshop", "", "", url_for('static', filename='docs/workshop_signup.pdf')) }}
          </ul>
        </div>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
            {{ sitemap_heading("About") }}
            {{ sitemap_link("What We Do", "about") }}
            {{ sitemap_link("Our Staff", "", "coming-soon") }}
            {{ sitemap_link("Contact Us", "contact") }}
            {{ sitemap_link("BPHC", "", "", "http://bphc.org") }}
          </ul>
        </div>
      </div>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock %}
<!-- /Content -->

<!-- Scripts -->
{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

  <script>
    var comingSoonTemp = "";
    $(".coming-soon").hover(function() {
      comingSoonTemp = $(this).text();
      $(this).text("Coming Soon");
    }, function() {
      $(this).text(comingSoonTemp);
    });
  </script>
{% endblock %}
<!-- /Scripts -->

