{% extends "bootstrap/base.html" %}
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% block title %}BPHC Peer Leadership Institute{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <div id="brand-container">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="BPHC" height="100%">
                &nbsp;
                <div>Peer Leadership Institute</div>
              </div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
              <li><a href="http://www.bphc.org/whatwedo/Teens/peer-leadership-institute/Pages/Peer-Leadership-Institute.aspx">About</a></li>
              <li><a href="#">Workshops</a></li>
              <li><a href="#">Surveys</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <div id="search-container">
                <input type="text" class="form-control" placeholder="Search">
                &nbsp;
                <button type="submit" class="btn btn-default">Search</button>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" 
                   class="dropdown-toggle" 
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                   Resources 
                   <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ file_url_for ( 'resources.html' ) }}">Substance Abuse</a></li>
                  <li><a href="{{ file_url_for ( 'resources.html' ) }}">Sexual Health</a></li>
                  <li><a href="{{ file_url_for ( 'resources.html' ) }}">Wellness</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ file_url_for ( 'resources.html' ) }}">Clinics</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
{% endblock %}

{% block content %}
  {% block page_content %}
    <h1>There's nothing here...</h1>
  {% endblock %}
  <footer class="footer navbar-fixed-bottom">
    <div class="container-fluid">
      <a href="http://bphc.org" target="_blank">Boston Public Health Commission</a>
    </div>
  </footer>
{% endblock %}
