<!-- Macros -->
{% macro render_field(field) %}
<div class=form-field>
  <h4>{{ field.label }}</h4>
  <div>{{ field(**kwargs)|safe }}</div>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
</div>
{% endmacro %}

{% macro sitemap_heading(text) -%}
  <li class="sitemap-heading"><span>{{text}}</span></li>
{%- endmacro %}

{% macro sitemap_link(text, pageName, cssclass="", fullPath="") -%}
  {% set url = "#" if (pageName == '#' or not pageName) else file_url_for(pageName + '.html') %}
  {% set url = fullPath if fullPath else url %}
  <li><a class="sitemap-sublink {{cssclass}}" href="{{url}}">{{text}}</a></li>
{%- endmacro %}
<!-- /Macros -->

<!-- Bootstrap -->
{% extends "bootstrap/base.html" %}

<!-- Title -->
{% block title %}BPHC Peer Leadership Institute{% endblock %}

<!-- Styles -->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='css/layout.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">
{% endblock %}
<!-- /Styles -->

<!-- Content -->
{% block content %}
<div id="wrapper">

  <!-- Login Modal -->
  <div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <a href="/register">Need an account?</a>
          {% set login_form = get_login_form() %}
          <form method=post action="/login">
            {% for field in login_form %}
              {% if field.name == "password" %}
                <a href="/init-pass-reset">Forgot password?</a>
              {% endif %}
              <div class="form-group">
                {{ field.label }}
                {{ field(class="form-control", placeholder="Enter " + field.label.text) }}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-block btn-lg" id="submit-login-btn">Login</button>
            <p class="login-alert" id="login-loading-msg">Logging in...</p>
            <div id="login-failed-alert" class="alert alert-danger login-alert">
              Incorrect username or password.
            </div>
            <div id="login-invalid-alert" class="alert alert-danger login-alert"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Login Modal -->

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav sitemap-list">
      <li class="sidebar-brand">
        <a href="/">
          <img src="{{url_for('static', filename='images/logo.png')}}" alt="BPHC">
          <br>
          Peer Leadership Institute
        </a>
      </li>

      {{ sitemap_heading("Resources") }}
      {{ sitemap_link("What's New", "", "coming-soon") }}
      {{ sitemap_link("Student Resources", "resources") }}
      {% if current_user.is_authenticated and "peer_leader" in current_user.get_roles() %}
        {{ sitemap_link("Peer Leader Resources", "peer_leader_resources") }}
      {% endif %}
      {{ sitemap_heading("Workshops") }}
      {{ sitemap_link("How It Works", "", "coming-soon") }}
      {{ sitemap_link("Testimonials", "", "coming-soon") }}
      {{ sitemap_link("Request a Workshop", "", "", url_for('static', filename='docs/workshop_signup.pdf')) }}

      {% if current_user.is_authenticated and ("admin" in current_user.roles or "editor" in current_user.roles) %}
      	{{ sitemap_heading("Admin") }}
        {% if "admin" in current_user.roles %}
        	{{ sitemap_link("Manage Users","","", url_for('change_roles')) }} 
        {% endif %}
        {% if "editor" in current_user.roles %}
          {{ sitemap_link("Manage Surveys","","", url_for('show_surveys')) }} 
        {% endif %}
      {% endif %}

      {{ sitemap_heading("About") }}
      {{ sitemap_link("What We Do", "", "", "/about") }}
      {{ sitemap_link("Our Staff", "", "", "/staff") }}
      {{ sitemap_link("Contact Us", "contact") }}
      {{ sitemap_link("BPHC", "", "", "http://bphc.org") }}

      {{ sitemap_heading("Account") }}
      {% if current_user.is_authenticated %}
      {{ sitemap_link("Logout","","", url_for('logout')) }} 
      {% else %}
      {{ sitemap_link("Login","","", url_for('login')) }} 
      {{ sitemap_link("Register","","", url_for('register')) }} 
      {% endif %}

    </ul>
  </div>
  <!-- /Sidebar -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div id="page-content-mask"></div>
    <!-- Navbar -->
    <nav id="nav">
      <div class="hamburger" id="menu-toggle">
        <span class="sr-only">Toggle navigation</span>
        <hr class='hamburger-layer'>
        <hr class='hamburger-layer'>
        <hr class='hamburger-layer'>
      </div>
      <div class='brand'><a href="/">Peer Leadership Institute</a></div>
      {% if current_user.is_authenticated %}
        <a class="navbar-action" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a id="nav-login-btn" class="navbar-action" data-toggle="modal" data-target="#login-modal">Login</a>
      {% endif %}
    </nav>
    <!-- /Navbar -->

    <!-- Page Content -->
    <div id='page-content'>
      <div id="content-column">
        {% block page_content %}
        {% endblock %}
      </div>
    </div>
    <!-- /Page Content -->

    <!-- Footer -->
    <div id="footer" class='container-fluid'>
      <div class='row'>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
              {{ sitemap_heading("Resources") }}
              {{ sitemap_link("What's New", "", "coming-soon") }}
              {{ sitemap_link("Student Resources", "resources") }}
          </ul>
        </div>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
            {{ sitemap_heading("Workshops") }}
            {{ sitemap_link("How It Works", "", "coming-soon") }}
            {{ sitemap_link("Testimonials", "", "coming-soon") }}
            {{ sitemap_link("Request a Workshop", "", "", url_for('static', filename='docs/workshop_signup.pdf')) }}
          </ul>
        </div>
        <div class='footer-col col-sm-4'>
          <ul class='sitemap-list'>
            {{ sitemap_heading("About") }}
            {{ sitemap_link("What We Do", "", "", "/about") }}
            {{ sitemap_link("Our Staff", "", "", "/staff") }}
            {{ sitemap_link("Contact Us", "contact") }}
            {{ sitemap_link("BPHC", "", "", "http://bphc.org") }}
          </ul>
        </div>
      </div>
    </div>
    <!-- /Footer -->
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock %}
<!-- /Content -->

<!-- Scripts -->
{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
  <script>
    var comingSoonTemp = "";
    $(".coming-soon").hover(function() {
      comingSoonTemp = $(this).text();
      $(this).text("Coming Soon");
    }, function() {
      $(this).text(comingSoonTemp);
    });
  </script>
{% endblock %}
<!-- /Scripts -->

