{% extends "layout.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var next = "{{ next }}"
  if (next && next != "None") {
    $("#login-modal form").attr("action", "/login?next=" + next);
  } else {
    $("#login-modal form").attr("action", "/login?next=/");
  }
  console.log(next);
  $("#login-modal").modal({
    show: true,
    keyboard: false,
    backdrop: "static",
  }).on('hide.bs.modal', function () {
    window.location = '/';
  });
</script>
{% endblock %}