{% extends "layout.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<style type="text/css">
  #content-column {
    max-width: 600px;
    padding: 0 15px;
    text-align: center;
  }

  .section {
    padding: 0px 30px 20px 30px;
  }

  .section-heading {
    border-bottom: 1px solid #FA3800;
    font-size: 2em;
    margin-top: 0px;
    position: relative;
  }

  hr {
    border-color: #FA3800;
  }
</style>
{% endblock %}

{% block page_content %}
  {% macro resource_link(url, text) -%}
    <a href='{{url}}' class="btn btn-primary btn-sm btn-block">{{text}}</a>
  {%- endmacro %}

  <h1>Peer Leader Resources</h1>
  <hr>
  <div class="section">
    <h1 class='section-heading'>Worksheets</h1>
    {{ resource_link(url_for ( 'static', filename='docs/SampleWorksheet.pdf' ), "Example Worksheet") }}
  </div>
{% endblock %}
