{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
  #content-column {
    max-width: 450px;
  }

  #content-column > div {
    padding: 0 15px;
  }

  h1, #reset-loading {
    text-align: center;
  }

  hr {
    border-color: #FA3800;
  }

  #reset-loading, #reset-errors, #reset-success {
    display: none;
  }
</style>
{% endblock %}

{% block page_content %}
<h1>Reset Password</h1>
<hr>
<div id="reset-success">
  <div class="alert alert-success">
    Password successfully changed.
  </div>
  <p>Your password has been reset. You can now <strong><a href="/login">login</a></strong> with your new password.</p>
</div>
<form method=post id="reset-form">
  <div class="form-body">
    <p>Enter your new password. Passwords must be at least 8 characters.</p>
    {% for field in form %}
      {% if field.type != "HiddenField" %}
        <div class="form-group">
          {{ field.label }}
          {{ field(class="form-control", placeholder="Enter " + field.label.text) }}
        </div>
      {% endif %}
    {% endfor %}
    {{ form.reset_token(value=token) }}
  </div>
  <button type="submit" class="btn btn-lg btn-success btn-block" id="submit-reset-btn">Reset Password</button>
</form>
<div id="reset-loading">
  <p>Submitting...</p>
  <img src="{{ url_for('static', filename='images/loading.gif') }}" width="50" height="50">
</div>
<div id="reset-errors" class="alert alert-danger"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $("#reset-form").submit(function(e) {
    e.preventDefault();

    $("#reset-form, #reset-errors").hide();
    $("#reset-loading").show();
    $("#reset-errors").html("");

    $.ajax({
      url: "/pass-reset",
      type: "POST",
      dataType: "JSON",
      data: { 
        reset_new_password: $("#reset_new_password").val(),
        reset_confirm_password: $("#reset_confirm_password").val(),
        reset_token: $("#reset_token").val()
      },
      statusCode: {
        200: function() {
          $("#reset-success").show();
        },
        400: function(data) {
          $("#reset-form, #reset-errors").show();
          if (data.responseText == "timed out") {
              $("#reset-errors").append("<p>Reset token expired. <strong><a href='/init-pass-reset'>Click here</a></strong> to create a new one.</p>");
          } else {
            errors = $.parseJSON(data.responseText);
            $.each(errors, function(key, msgs) {
              $("#reset-errors").append("<p>" + msgs[0] + "</p>");
            });
          }
        }
      },
      complete: function() {
        $("#reset-loading").hide();
      }
    });
  });
</script>
{% endblock %}
