{% extends "layout.html" %}
{% block styles %}
  {{ super() }}
  <style>
    #card-drops {
      list-style: none;
      padding-left: 0;
    }
  </style>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    let boxCount = 0;
    $("#add_button").click(function(){
        var $box = $(".card-drop").last().clone();
        $("select", $box).prop("name", "cards-"+(boxCount++));
        $("#card-drops").append($box);
    });
  </script>
{% endblock %}
{% block page_content %}
  {% from "layout.html" import render_field %}
  <div class="container-fluid">
    <h1>Set cards</h1>
    <form id="cards_from" method=post>
      <ul id="card-drops">
        <li class="card-drop">
          <select name="cards-0">
            {% for card in list_all_wn_cards() %}
            <option value="{{ card.str_id }}">{{ card.get_caption() }}</option>
            {% else %}
            <option value="">None availible</option>
            {% endfor %}
          </select>
        </li>
      </ul>
      <p><input type="submit" value="Set cards"/>
    </form>
    <button id="add_button">Add another card</button>
  </div>
{% endblock %}
