{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style type="text/css">
  #content-column {
    padding: 0 5px;
  }

  h1 {
    text-align: center;
  }

  .staff-list-container {
    padding: 5px;
    margin: 5px;
  }

  #add-staff-btn {
    margin: 1em auto;
  }

  .staff-list {
    margin: 0 auto;
    width: calc(100% - 20px);
  }

  .staff-list-heading {
    font-size: 1.6em;
  }

  .staff-list-entry {
    margin-top: 5px;
  }

  .modal .field-label {
    margin: 0;
    font-size: 1.2em;
  }

  .modal .modal-field {
    width: 100%;
    margin-bottom: 1em;
  }

  .modal button[type="submit"] {
    margin-top: 2em;
  }

  .modal .modal-check {
    font-size: 2em;
  }

  .modal .checkbox {
    margin-top: 0;
  }

  .modal .image-preview {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 100%;
    float: right;    
    display: none;
  }
</style>
{% endblock %}

{% block page_content %}
  {% set active_staff = list_active_staff() %}
  {% set inactive_staff = list_inactive_staff() %}
  {% set active_staff_count = active_staff.count() %}
  <script type="text/javascript">
    var active_staff_count = {{ active_staff_count }};
  </script>

  {% macro create_staff_form_modal(modal_id, modal_title, button_text, form_type) -%}
    <div class="modal fade" id="{{ modal_id }}" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ modal_title }}</h4>
          </div>
          <div class="modal-body">
            {% set form = add_form %}
            {% set picture = add_form.picture %}
            {% set active = add_form.active %}
            {% set order = add_form.order %}
            {% if form_type == "add" %}
              <p>Use this form to add new staff info to the Our Staff page.</p>
            {% elif form_type == "edit" %}
              {% set form = edit_form %}
              {% set picture = edit_form.edit_picture %}
              {% set active = edit_form.edit_active %}
              {% set order = edit_form.edit_order %}
              <p>Use this form to edit existing staff info on the Our Staff page.</p>
            {% endif %}
            <form method=post action="/manage/staff/{{form_type}}" enctype="multipart/form-data">
              {% for field in form %}
                {% if field.type == "StringField" %}
                  <div class="form-group">
                    {{ field.label }}
                    {{ field(class="form-control", placeholder="Enter " + field.label.text) }}
                  </div>
                {% endif %}
              {% endfor %}
              <div class="form-group">
                {{ picture.label }}
                <div class="image-preview"></div>
                {{ picture(accept="image/*") }}
              </div>
              <div class="form-group">
                {{ active.label }}
                <div class="checkbox">
                  <label>{{ active(checked="true") }} Check this box to display this staff info on the Our Staff page.</label>
                </div>
              </div>
              {{ order(value=active_staff_count) }}
              <button type="submit" class="btn btn-block btn-success">{{ button_text }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {%- endmacro %}

  {% macro staff_list(list, list_id, label, expanded) -%}
      <div class="staff-list-container">
        <button type="button"
                class="btn btn-primary btn-block staff-list-heading"
                data-toggle="collapse"
                data-target="#{{ list_id }}">
          {{ label }} Staff ({{ list.count() }})
        </button>
        <div class="staff-list collapse {{ 'in' if expanded else '' }}"
             id="{{list_id}}">
          {% for staff in list %}
            <a href="#" 
               class="btn btn-info btn-block staff-list-entry {{ list_id }}-entry"
               data-staff-id="{{ staff['_id'] }}">
              {{staff["name"]}}
            </a>
          {% else %}
            <p>No {{ label }} staff.</p>
          {% endfor %}
        </div>
      </div>
  {%- endmacro %}

  {{ create_staff_form_modal("add-staff-modal", "Add Staff Info", "Submit", "add") }}
  {{ create_staff_form_modal("edit-staff-modal", "Edit Staff Info", "Update", "edit") }}

  <h1>Manage Staff</h1>
  <p>Use this page to manage the staff information displayed on the <a href="/staff">Our Staff</a> page. Note inactive staff do not appear on the staff page.</p>
  <button type="button" 
          class="btn btn-success btn-lg"
          id="add-staff-btn"
          data-toggle="modal"
          data-target="#add-staff-modal">
    Add New Staff</button>
  <p>Choose a staff entry below to edit it, or click and drag active staff to change the order that they appear.</p>

  {{ staff_list(active_staff, "active-staff", "Active", true) }}
  {{ staff_list(inactive_staff, "inactive-staff", "Inactive", false) }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  $("#active-staff").sortable().on("sortupdate", function(e, ui) {
    var ordered_ids = []
    $(".staff-list-entry", ui.item.parent()).each(function() {
      ordered_ids.push($(this).data("staff-id"));
    });
    $.ajax({
      url: "/manage/staff/order",
      type: "POST",
      data: JSON.stringify({ ids: ordered_ids }),
      contentType: "application/json"
    });
  });

  function update_preview_image($preview_div, src) {
    $preview_div.css("background-image", "url(" + src + ")").show();
  }

  $("#picture, #edit_picture").change(function() {
    if (this.files && this.files[0]) {
      var src = window.URL.createObjectURL(this.files[0]);
      update_preview_image($(this).siblings(".image-preview"), src)
    }
  });

  var editing_staff_id;
  $(".staff-list-entry").click(function() {
    editing_staff_id = $(this).data("staff-id");
    $("#edit-staff-modal").modal("show");
  });

  $(".active-staff-entry").click(function() {
    var edit_check = $("#edit_active").get(0);
    if (!edit_check.checked) {
      edit_check.click();
    }
  });

  var editing_staff_order;
  var editing_inactive_staff;
  var $edit_form = $('#edit-staff-modal form');
  var edit_action = $edit_form.attr('action');
  $("#edit-staff-modal").on('show.bs.modal', function() {
    $edit_form.attr('action', edit_action + "?id=" + editing_staff_id);

    $.get("/manage/staff/info?id=" + editing_staff_id, "", function(data) {
      set_edit_val("name", data.name);
      set_edit_val("title", data.title);
      set_edit_val("bio", data.bio);
      set_edit_val("email", data.email);
      set_edit_val("phone", data.phone);
      set_edit_val("order", data.order);
      editing_staff_order = data.order;
      
      update_preview_image($("#edit-staff-modal .image-preview"), data.picture);
      if (!data.active) {
        editing_inactive_staff = true;
        var edit_check = $("#edit_active").get(0);
        if (edit_check.checked) {
          edit_check.click();
        }
      }
    });
  });

  $("#edit_active").change(function() {
    if (editing_inactive_staff) {  
      if(this.checked) {
        // activating inactive staff
        editing_staff_order = $("#edit_order").val();
        set_edit_val("order", active_staff_count);
      } else {
        set_edit_val("order", editing_staff_order);
      }
    }
  });

  function set_edit_val(input_name, val) {
    if (val) {
      $("#edit_" + input_name).val(val);
    }
  }
</script>
{% endblock %}