{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
  #content-column {
    padding: 0 5px;
  }

  .staff-list-container {
    padding: 5px;
    margin: 5px;
  }

  .add-staff-btn {
    margin: 1em auto;
  }

  .staff-list-heading {
    font-size: 1.6em;
  }

  .staff-list {
    margin: 0 auto;
    width: calc(100% - 20px);
  }

  .staff-list button {
    margin-top: 5px;
  }

</style>
{% endblock %}

{% block page_content %}
  {% set active_staff = list_active_staff() %}
  {% set inactive_staff = list_inactive_staff() %}
  {% set active_count = active_staff.count() %}
  {% set inactive_count = inactive_staff.count() %}
  <h1>Manage Staff</h1>
  <p>Use this page to manage the staff information displayed on the <a href="/staff">Our Staff</a> page. Note inactive staff do not appear on the staff page.</p>
  <button type="button" class="btn btn-success btn-lg add-staff-btn" id="add-staff-btn">Add New Staff</button>
  <p>Choose a staff entry below to edit it.</p>
  <div class="staff-list-container">
    <button type="button" class="btn btn-primary btn-block staff-list-heading" data-toggle="collapse" data-target="#active-staff">Active Staff ({{ active_count }})</button>
    <div class="staff-list collapse in" id="active-staff">
      {% for staff in active_staff %}
      <button type="button" class="btn btn-info btn-block active-staff" data-staff-id="{{ staff['_id'] }}">
        {{staff["name"]}}
      </button>
      {% else %}
      <p>No active staff.</p>
      {% endfor %}
    </div>
  </div>
  <div class="staff-list-container">
    <button type="button" class="btn btn-primary btn-block staff-list-heading" data-toggle="collapse" data-target="#inactive-staff">Inactive Staff ({{ inactive_count }})</button>
    <div class="staff-list collapse" id="inactive-staff">
      {% for staff in inactive_staff %}
      <button type="button" class="btn btn-info btn-block active-staff" data-staff-id="{{ staff['_id'] }}">
        {{staff["name"]}}
      </button>
      {% else %}
      <p>No inactive staff.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}