{% extends "layout.html" %}
{% block styles %}
{{ super() }}
<style>
 .page-button {
     float: left;
     background-color: orange;
     margin: 5px;
     
 }
 .blogbox {
     border: 1px solid black;
 }
 .section-heading {
     border-bottom: 1px solid #FA3800;
     font-size: 2em;
     margin-top: 0px;
     position: relative;
 }
 .section-bubbles {
     position: absolute;
     top: 0;
     left: -40px;
     height: 30px;
 } 
 .section {
     background-color: #8ABFDD;
     padding: 20px 30px;
     margin: 5px;
 }
 .button-container {
     margin: 0 auto;
     display: inline-block;
 }

</style>
{% endblock %}
{% block scripts %}
{{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/whats_new_posts.js') }}"></script>
{% endblock %}
{% block page_content %}
{% from "layout.html" import render_field %}

<div class="container-fluid">
    <div id="post_container"></div>
    <div class="button-container">
	{% for x in blog_page_count() %}
	{% if x is divisibleby(10) %}
	{% set page_num = x / 10 %}
	<div class="page-button" onClick="getPage({{ page_num|int }})">{{ (page_num|int) + 1 }}</div>
	{% endif %}
	{% endfor %}
    </div>
</div>
{% endblock %}
